################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagedModule/.vs
/ManagedModule/packages
/ManagedModule/VirtoCommerce.ManagedModule.Web/bin
/ManagedModule/VirtoCommerce.ManagedModule.Web/obj
*.user
/MemberExtensionSampleModule/.vs
/MemberExtensionSampleModule/bin
/MemberExtensionSampleModule/obj
/MemberExtensionSampleModule/packages
/OrderModule2/.vs
/OrderModule2/bin
/OrderModule2/obj
/OrderModule2/packages
