body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom styles */

@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    min-width: 320px;
    padding: 30px 0;
}

.product-list .list-item {
    box-sizing: border-box;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
}

.product-list .list-pic {
    border: 1px solid #dedede;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.product-list .btn {
    display: block;
    margin: 10px auto 0;
    width: 100%;
}

@media (max-width: 991px) {
    .product-list .list-item {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 767px) {
    .product-list .list-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .product-list .btn {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    .product-list .list-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-list .btn {
        max-width: 100%;
    }
}
