<div class="blade-static __bottom">
    <button class="btn" ng-click="bladeClose()">
        <span>{{ 'platform.commands.cancel' | translate }}</span>
    </button>
    <button class="btn" ng-click="saveChanges()" ng-disabled="!isValid">
        <span>{{ 'platform.commands.ok' | translate }}</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div>
                <div class="form-group">
                    <div class="form-input">
                        <input id="address_autocomplete"
                               placeholder="{{ 'edit-address.enter-address' | translate }}"
                               ng-focus="geolocate()"
                               type="text" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input">
                        <label class="form-label">Country</label>
                        <input ng-keypress="isValid=true" type="text" ng-model="data.country" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input">
                        <label class="form-label">State</label>
                        <input ng-keypress="isValid=true" type="text" ng-model="data.state" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input">
                        <label class="form-label">City</label>
                        <input ng-keypress="isValid=true" type="text" ng-model="data.city" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input">
                        <label class="form-label">Zip</label>
                        <input ng-keypress="isValid=true" type="text" ng-model="data.zip" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-input">
                        <label class="form-label">StreetAddress</label>
                        <input ng-keypress="isValid=true" type="text" ng-model="data.streetAddress" />
                    </div>
                </div>
            </div>
            <div id="address-map"></div>
            <div ng-init="init()"></div>
        </div>
    </div>
</div>