@{
    ViewBag.Title = "Home Page";
}

    <div class="product-list">
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/344394719/344394719_.jpg" />
            <button type="button" vc-buy-button item-name="Dress" image-url="https://demovc1.blob.core.windows.net/catalog/344394719/344394719_.jpg" catalog-id="b61aa9d1d0024bc4be12d79bf5786e9f" sku="350725610" quantity="1" list-price="10.25" currency="USD" product-id="61a553f315b0478aa7eb6295dad6cbb5" class="javascript-shoppingcart-add-item btn">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/355792584/355792584_.jpg" />
            <button type="button" vc-buy-button sku="344394719" image-url="https://demovc1.blob.core.windows.net/catalog/355792584/355792584_.jpg" catalog-id="b61aa9d1d0024bc4be12d79bf5786e9f" item-name="Neon Coral Tropical Floral Print Bandeau Pleated Dress" quantity="1" list-price="25.00" currency="USD" product-id="31bb21bf0b144b68a9d731374c1a95e8"  class="javascript-shoppingcart-add-item btn">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/355789384/355789384_.jpg" />
            <button type="button" vc-buy-button currency="USD" image-url="https://demovc1.blob.core.windows.net/catalog/355789384/355789384_.jpg" catalog-id="b61aa9d1d0024bc4be12d79bf5786e9f" product-id="6b9797660c28496faef5fbfae871d735" sku="355792584" quantity="1" list-price="25.00" item-name="Neon Coral Tropical Floral Print Bandeau Pleated Dress" class="javascript-shoppingcart-add-item btn">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/350619719/350619719_.jpg" />
            <button type="button" vc-buy-button quantity="1" image-url="https://demovc1.blob.core.windows.net/catalog/350619719/350619719_.jpg" catalog-id="b61aa9d1d0024bc4be12d79bf5786e9f" list-price="25.00" currency="USD" product-id="8355688c920948ea87a574ed1c6ecd1e" sku="355789384" item-name="Neon Coral Tropical Floral Print Bandeau Pleated Dress" class="javascript-shoppingcart-add-item btn">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/350725610/350725610_.jpg" />
            <button type="button" vc-buy-button quantity="1" image-url="https://demovc1.blob.core.windows.net/catalog/350725610/350725610_.jpg" list-price="25.00" catalog-id="b61aa9d1d0024bc4be12d79bf5786e9f" sku="350619719" currency="USD" product-id="5b12d2ee67914060836f5a4538b84bfc" item-name="Neon Coral Tropical Floral Print Bandeau Pleated Dress" class="javascript-shoppingcart-add-item btn">
                Buy
            </button>
        </div>
    </div>
