@{
    ViewBag.Title = "Home Page";
}

    <div class="product-list">
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/344394719/344394719_.jpg" />
            <button type="button" class="javascript-shoppingcart-add-item btn" ng-click="addLineItem({name: 'Dress'
            , quantity: 1
            , listPrice: '10.25'
            , currency: 'USD'
            , productId: '61a553f315b0478aa7eb6295dad6cbb5'
            , sku: '350725610'
            , catalogId: 'b61aa9d1d0024bc4be12d79bf5786e9f'
            , imageUrl: 'https://demovc1.blob.core.windows.net/catalog/344394719/344394719_.jpg'});">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/355792584/355792584_.jpg" />
            <button type="button" class="javascript-shoppingcart-add-item btn" ng-click="addLineItem({name: 'Neon Coral Tropical Floral Print Bandeau Pleated Dress'
            , quantity: 1
            , listPrice: '25.00'
            , currency: 'USD'
            , productId: '31bb21bf0b144b68a9d731374c1a95e8'
            , sku: '344394719'
            , catalogId: 'b61aa9d1d0024bc4be12d79bf5786e9f'
            , imageUrl: 'https://demovc1.blob.core.windows.net/catalog/355792584/355792584_.jpg'});">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/355789384/355789384_.jpg" />
            <button type="button" class="javascript-shoppingcart-add-item btn" ng-click="addLineItem({name: 'Neon Coral Tropical Floral Print Bandeau Pleated Dress'
            , quantity: 1
            , listPrice: '25.00'
            , currency: 'USD'
            , productId: '6b9797660c28496faef5fbfae871d735'
            , sku: '355792584'
            , catalogId: 'b61aa9d1d0024bc4be12d79bf5786e9f'
            , imageUrl: 'https://demovc1.blob.core.windows.net/catalog/355789384/355789384_.jpg'});">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/350619719/350619719_.jpg" />
            <button type="button" class="javascript-shoppingcart-add-item btn" ng-click="addLineItem({name: 'Neon Coral Tropical Floral Print Bandeau Pleated Dress'
            , quantity: 1
            , listPrice: '25.00'
            , currency: 'USD'
            , productId: '8355688c920948ea87a574ed1c6ecd1e'
            , sku: '355789384'
            , catalogId: 'b61aa9d1d0024bc4be12d79bf5786e9f'
            , imageUrl: 'https://demovc1.blob.core.windows.net/catalog/350619719/350619719_.jpg'});">
                Buy
            </button>
        </div>
        <div class="list-item">
            <img class="list-pic" src="https://demovc1.blob.core.windows.net/catalog/350725610/350725610_.jpg" />
            <button type="button" class="javascript-shoppingcart-add-item btn" ng-click="addLineItem({name: 'Neon Coral Tropical Floral Print Bandeau Pleated Dress'
            , quantity: 1
            , listPrice: '25.00'
            , currency: 'USD'
            , productId: '5b12d2ee67914060836f5a4538b84bfc'
            , sku: '350619719'
            , catalogId: 'b61aa9d1d0024bc4be12d79bf5786e9f'
            , imageUrl: 'https://demovc1.blob.core.windows.net/catalog/350725610/350725610_.jpg'});">
                Buy
            </button>
        </div>
    </div>
